# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
backend/.venv/
.env
backend/.env

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
